<div class="container">
    <div class="row text-center">
        <div class="col-md-8 mt-3">
            <h1>ようこそ　Matching bowへ</h1>
            <br/>
            <p>犬とふれあいたい方と保護犬をマッチングさせるサイトです</p>
            <p>気になる犬を見つけたら「チャットを始める」で里親さんとやりとりができます<i class="fas fa-paw"></i></p>
            <p>里親さんは犬の登録から保護犬を登録することができます<i class="fas fa-paw"></i></p>
            <br />

            <%= link_to "犬と遊びたい！", new_member_session_path, class: "btn btn-primary" %>
            <%= link_to "犬を遊ばせたい！", new_foster_session_path, class: "btn btn-success" %>

            <br/>
        </div>
        <div class="col-md-4">
            <div id="slide">
            <% @dogs.each do |dog| %>
                <%= attachment_image_tag dog, :image, :fill, 800, 900,format: 'jpeg'%>
            <% end %>
            </div>
        </div>
    </div>
</div>


