<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>ようこそ　Matching bowへ</h1>
            <p>犬とふれあいたい方と保護犬をマッチングさせるサイトです</p>
            
        </div>
    </div>
</div>
