/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


.nav-item{
 text-align: center;
}

.nav-item{
  color: #330000;
  text-align: center;
}
.left-message{
  text-align: left;
}

.right-message-member{
  text-align: right;
  padding: 10px;
}

.right-message-foster{
  text-align: right;
  padding: 10px;
}

.chat-field{
  background-color: #7494C0;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 50px 0;
  background-color: #e3f2fd;
}

.content{
  border-bottom: solid 1px #deb887;
  color: #2f4f4f;
  margin-bottom: 15px ;
  margin-top: 15px;
}

.error_messages{
  color: red;
  text-align: center;
}

.alert{
  text-align: center;
}

.alert1{
  color: red;
  text-align: center;
}