/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';





.content{
  border-bottom: solid 1px #deb887;
  color: #FFCB72;
  margin-bottom: 15px ;
  margin-top: 15px;
}

.error_messages{
  color: red;
  text-align: center;
}

.alert{
  text-align: center;
}

.alert1{
  color: red;
  text-align: center;
}


#slide{
  height: 50px;
  width : 100%;
  margin : 60px 0 0 60px;

}

header{
  animation: bgchange 20s ease infinite;/*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
}

@keyframes bgchange{
      0%   {background:#D9B596;}/*変化させたい色*/
      25%  {background:#A69992;}/*変化させたい色*/
      50%  {background:#F2B279;}/*変化させたい色*/
      75%  {background:#A8B0BF;}/*変化させたい色*/
      90%  {background:#D9B596;}/*変化させたい色*/
      100% {background:#BFA68F;}/*変化させたい色*/
 }

 footer {
  animation: bgchange 20s ease infinite;/*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
  position: absolute;/*←絶対位置*/
  text-align: center;
  height: 60px;
  padding: 14px;
  bottom: 0;
  color: #59473C;
 }

 body {
  margin-bottom: 60px;/* フッタと同じ高さに設定 */
  padding-bottom: 0;/* 一番下までスクロールした時の余白 */
}


.size{
  color: #59473C;
}

